html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.portfolin {
    width: 100%;
    height: auto;
    padding-top: 1%;
    background-color: #f4f2ee;
    display: flex;
    align-items: top;
    justify-content: center;
    gap: 1%;
}

.portfolin > .main > .mainProfile {
    width: 850px;
    height: auto;
    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid #dfdeda;
    margin-bottom: 2%;
}


.portfolin > .main > .mainProfile > .banner {
    width: 100%;
    height: 200px;
    background-image: url(assets/images/linkedinbg.jpg);
    background-size: 100% 100%;
    border-radius: 10px 10px 0 0;
}

.portfolin > .main > .mainProfile > .profile {
    width: 150px;
    height: 150px;
    background-image: url(assets/images/linkedinprofile.jpg);
    background-size: 100% 100%;
    border-radius: 100%;
    border: 4px solid #FFF;
    position: relative;
    margin-top: -13%;
    margin-left: 3%;
}

.portfolin > .main > .mainProfile > .about {
    padding: 3%;
    margin-bottom: 2%;
}

.portfolin > .main > .mainProfile > .about > .name {
    display: block;
    font-size: 30px;
    font-weight: 500;
}

.portfolin > .main > .mainProfile > .about > span:nth-of-type(2) {
    display: block;
    letter-spacing: 0.5px;
    margin-bottom: 2%;
}

.portfolin > .main > .mainProfile > .about > a > .mainBtn {
    padding: 1% 2% 1% 2%;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: #0a66c2;
    border: 1px solid #0a66c2;
    color: #FFF;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    letter-spacing: 0.3px;
}

.portfolin > .main > .mainProfile > .about > a > .btn {
    padding: 1% 2% 1% 2%;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: #FFF;
    color: #0a66c2;
    border: 1px solid #0a66c2;
    border-radius: 15px;
    cursor: pointer;
    letter-spacing: 0.3px;
}

.portfolin > .main > .mainProfile > .about > a > .mainBtn:hover {
    background-color: #004182;
}

.portfolin > .main > .mainProfile > .about > a > .btn:hover {
    box-shadow: inset 0 0 2px #004182;
    background-color: #e3f1f3;
}

.portfolin > .main > .mainStats {
    width: 850px;
    height: 620px;
    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid #dfdeda;
    margin-bottom: 2%;
}

.portfolin > .main > .mainExp {
    width: 850px;
    height: 80px;
    background-color: #FFF;
    border-radius: 10px 10px 0 0;
    border: 1px solid #dfdeda;
    border-bottom: none;
}

.portfolin > .main > .mainStats > .projectsTitle {
    position: relative;
    top: 5%;
    margin-left: 3%;
    font-size: 20px;
    font-weight: 500;
}

.portfolin > .main > .mainExp > .projectsTitle {
    position: relative;
    top: 30%;
    margin-left: 3%;
    font-size: 20px;
    font-weight: 500;
}

.portfolin > .main > .mainStats > .mainEducation {
    position: relative;
    top: 8%;
    left: 3%;
}

.portfolin > .main > .mainStats > .mainEducation > .education {
    display: flex;
    gap: 1%;
}

.portfolin > .main > .mainStats > .mainEducation > .education > div:nth-of-type(2) > span:nth-of-type(1) {
    font-weight: 500;
}

.portfolin > .main > .mainStats > .mainEducation > .education > div:nth-of-type(2) > span:nth-of-type(2) {
    font-size: 14px;
}

.portfolin > .main > .mainStats > .mainEducation > .education > div:nth-of-type(2) > span:nth-of-type(3) {
    font-size: 14px;
    color: #b1b1b1;
}

.portfolin > .main > .mainStats > .mainEducation > hr {
    margin: 2% 0 2% 0;
    width: 94%;
    color: #ddbaba;
    border: none;
    border-bottom: 1px solid #ebebeb;
}

.portfolin > .main > .mainStats > .mainEducation > .education > div:nth-of-type(1) > img {
    width: 50px;
    height: 50px;
}

.portfolin > .main > .mainStats > .mainEducation > .education > div:nth-of-type(2) > a > img {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 1px solid #EEE;
    border-radius: 10px;
}

.portfolin > .aside > .asideMain {
    width: 300px;
    height: auto;
    background-color: #FFF;
    border-radius: 10px 10px;
    border: 1px solid #dfdeda;
    padding-top: 20px;
    margin-bottom: 7%;
}

.portfolin > .aside > .underAside {
    width: 300px;
    height: 26px;
    background-color: #FFF;
    border-radius: 10px 10px 0 0;
    border: 1px solid #dfdeda;
    border-bottom: none;
}

.portfolin > .aside > .asideMain > .asideMainTitle {
    margin-left: 8%;
    font-size: 20px;
    font-weight: 500;   
}

.portfolin > .aside > .asideMain > .stackContect {
    position: relative;
    top: 20px;
    margin-left: 10%;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 10%;
}

.portfolin > .aside > .asideMain > .stackContect > .stackBox {
    display: flex;
    margin: 3% 0 10% 0;
    gap: 5%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}

.portfolin > .aside > .asideMain > .stackContect > .stackBox > div {
    text-align: center;
    font-size: 14px;
    color: #9b9b9b;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.portfolin > .aside > .asideMain > .stackContect > .stackBox > div > img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}